.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  max-width: 1300px;
}

.App__NotesUnderPriceSummary {
  width: 100%;
  text-align: left;
  margin: 10px;
}
